{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1 class="text-center">S'inscire</h1>
    <div class="container">
    
    
    
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
       
        {{ form_row(registrationForm.firstName, {
            label: 'Prénom'
        }) }}
        {{ form_row(registrationForm.lastName, {
            label: 'Nom'
        }) }}
        {{ form_row(registrationForm.userName, {
            label: 'Pseudo'
        }) }}
        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn">S'incrire</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
